Repository fjprog102/latamat02, pull requests merged in 2022-11, with the labels that each got.

#135 Added model, controller and tests for card element
  KOF/Game/Controllers/Elements/GameControllers.cs
  KOF/Game/Controllers/Elements/MonsterController.cs
  KOF/Game/Controllers/Elements/PowerCardController.cs
  KOF/Game/Models/Abstracts/Card.cs
  KOF/Game/Models/Abstracts/DataHolder.cs
  KOF/Game/Models/Abstracts/Element.cs
  KOF/Game/Models/Elements/Game.cs
  KOF/Game/Models/Elements/KofDice.cs
  KOF/Game/Models/Elements/Monster.cs
  KOF/Game/Models/Elements/Player.cs
  KOF/Game/Models/Elements/PowerCard.cs
  KOF/Game/Models/Payloads/PowerCardPayload.cs
  KOF/Game/Program.cs
  KOF/Game/Services/Elements/GameService.cs
  KOF/Game/Services/Elements/MonsterService.cs
  KOF/Game/Services/Elements/PlayerService.cs
  KOF/Game/Services/Elements/PowerCardService.cs
  KOF/Game/Services/Interfaces/IDataService.cs
  KOF/Game/Services/ServiceInjector.cs
  KOF/GameTest/ControllersTest/Elements/MonsterControllerTest.cs
  KOF/GameTest/ControllersTest/Elements/PowerCardControllerTests.cs
  KOF/GameTest/KOFTest.csproj
  KOF/GameTest/ModelsTest/Elements/GameTest.cs
  KOF/GameTest/ModelsTest/Elements/KofDiceTest.cs
  KOF/GameTest/ModelsTest/Elements/MonsterTest.cs
  KOF/GameTest/ModelsTest/Elements/PlayerTest.cs
  KOF/GameTest/ModelsTest/Elements/PowerCardTests.cs
  KOF/GameTest/ServicesTest/Elements/GameTest.cs
  KOF/GameTest/ServicesTest/Elements/MonsterServiceTest.cs
  KOF/GameTest/ServicesTest/Elements/PlayerServiceTest.cs
Labels: kof, sprint1

#148 Add TokyoBoard class with unit tests; unify namespaces; delete unnecessary files
  KOF/Game/Controllers/Elements/GameControllers.cs
  KOF/Game/Controllers/Elements/MonsterController.cs
  KOF/Game/Controllers/Elements/PowerCardController.cs
  KOF/Game/Controllers/WeatherForecastController.cs
  KOF/Game/Models/Abstracts/Card.cs
  KOF/Game/Models/Abstracts/DataHolder.cs
  KOF/Game/Models/Abstracts/Dice.cs
  KOF/Game/Models/Abstracts/Element.cs
  KOF/Game/Models/Elements/Game.cs
  KOF/Game/Models/Elements/KofDice.cs
  KOF/Game/Models/Elements/Monster.cs
  KOF/Game/Models/Elements/Player.cs
  KOF/Game/Models/Elements/PowerCard.cs
  KOF/Game/Models/Elements/TokyoBoard.cs
  KOF/Game/Models/Payloads/PowerCardPayload.cs
  KOF/Game/Models/WeatherForecast.cs
  KOF/Game/Program.cs
  KOF/Game/Services/Elements/GameService.cs
  KOF/Game/Services/Elements/MonsterService.cs
  KOF/Game/Services/Elements/PlayerService.cs
  KOF/Game/Services/Elements/PowerCardService.cs
  KOF/Game/Services/Interfaces/IDataService.cs
  KOF/Game/Services/ServiceInjector.cs
  KOF/GameTest/ControllersTest/Elements/MonsterControllerTest.cs
  KOF/GameTest/ControllersTest/Elements/PowerCardControllerTests.cs
  KOF/GameTest/ModelsTest/Elements/GameTest.cs
  KOF/GameTest/ModelsTest/Elements/KofDiceTest.cs
  KOF/GameTest/ModelsTest/Elements/MonsterTest.cs
  KOF/GameTest/ModelsTest/Elements/PlayerTest.cs
  KOF/GameTest/ModelsTest/Elements/PowerCardTests.cs
  KOF/GameTest/ModelsTest/Elements/TokyoBoardTest.cs
  KOF/GameTest/ServicesTest/Elements/GameTest.cs
  KOF/GameTest/ServicesTest/Elements/MonsterServiceTest.cs
  KOF/GameTest/ServicesTest/Elements/PlayerServiceTest.cs
Labels: sprint1

#152 Refactored code to implement IMonsterService and Element abstract classes
  KOF/Game/Controllers/Elements/MonsterController.cs
  KOF/Game/Models/Elements/Monster.cs
  KOF/Game/Models/Payloads/MonsterPayload.cs
  KOF/Game/Services/Elements/MonsterService.cs
  KOF/Game/Services/Elements/PlayerService.cs
  KOF/Game/Services/Interfaces/IMonsterService.cs
  KOF/Game/Services/ServiceInjector.cs
  KOF/GameTest/ControllersTest/Elements/MonsterControllerTest.cs
  KOF/GameTest/ModelsTest/Elements/MonsterTest.cs
  KOF/GameTest/ModelsTest/Elements/PlayerTest.cs
  KOF/GameTest/ServicesTest/Elements/MonsterServiceTest.cs
  KOF/GameTest/ServicesTest/Elements/PlayerServiceTest.cs
Labels: kof, sprint2

#151 Added controller and injector unit tests for powercard
  KOF/Game/Controllers/Elements/PowerCardController.cs
  KOF/Game/Services/Elements/PowerCardService.cs
  KOF/Game/Services/Interfaces/IPowerCardService.cs
  KOF/Game/Services/ServiceInjector.cs
  KOF/GameTest/ControllersTest/Elements/PowerCardControllerTests.cs
  KOF/GameTest/ServicesTest/Elements/PowerCardServiceTests.cs
  KOF/GameTest/ServicesTest/ServicesInjectorTests.cs
Labels: kof, sprint2

#153 Refactor Game Controller implementing IGameService interface
  KOF/Game/Controllers/Elements/GameControllers.cs
  KOF/Game/Models/Elements/Game.cs
  KOF/Game/Models/Payloads/GamePayload.cs
  KOF/Game/Services/Elements/GameService.cs
  KOF/Game/Services/Interfaces/IGameService.cs
  KOF/Game/Services/ServiceInjector.cs
  KOF/GameTest/ModelsTest/Elements/GameTest.cs
  KOF/GameTest/ServicesTest/Elements/GameTest.cs
Labels: kof, sprint2

#156 Refactored `MonsterController` `GET` method and implemented `DELETE` and `PUT` test cases
  KOF/Game/Controllers/Elements/MonsterController.cs
  KOF/Game/Services/Elements/MonsterService.cs
  KOF/GameTest/ControllersTest/Elements/MonsterControllerTest.cs
Labels: kof, sprint2

#158 Refactor GameController, add unit tests for GameController and GameService injector
  KOF/Game/Controllers/Elements/GameControllers.cs
  KOF/GameTest/ControllersTest/GameControllerTest.cs
  KOF/GameTest/ServicesTest/ServicesInjectorTests.cs
Labels: kof, sprint2

#150 Valeria/player service
  KOF/Game/Controllers/Elements/PlayerController.cs
  KOF/Game/Models/Elements/Player.cs
  KOF/Game/Models/Payloads/PlayerPayload.cs
  KOF/Game/Services/Elements/GameService.cs
  KOF/Game/Services/Elements/PlayerService.cs
  KOF/Game/Services/Interfaces/IPlayerService.cs
  KOF/Game/Services/ServiceInjector.cs
  KOF/GameTest/ControllersTest/GameControllerTest.cs
  KOF/GameTest/ModelsTest/Elements/GameTest.cs
  KOF/GameTest/ModelsTest/Elements/PlayerTest.cs
  KOF/GameTest/ModelsTest/Elements/TokyoBoardTest.cs
  KOF/GameTest/ServicesTest/Elements/PlayerServiceTest.cs
Labels: sprint2

#160 Refactored GET and DELETE endpoints
  KOF/Game/Controllers/Elements/MonsterController.cs
  KOF/Game/Services/Elements/MonsterService.cs
  KOF/GameTest/ControllersTest/Elements/MonsterControllerTest.cs
Labels: kof, sprint2
